node_modules
.env
coverage
coverage.json

#Hardhat files
cache
artifacts

# subgraph
subgraph/generated/
subgraph/build/
out
lib
.graphclient
dist
**/.turbo
**/.turbo-build
**/.turbo-cache
**/node_modules
**/.graphclient
**/dist